<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>Todo</title>
</head>
<body>
<div class="container p-0">
    <header th:insert="blocks/header :: header"></header>

    <div class="container-fluid">
        <div class="mb-3 mt-3">
            <div class="card" style="width: 68rem;">
                <div class="card-header">
                    <h5 class="card-title" th:text="${task.title}"></h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${{task.created}}"></h6>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${task.priority.name}"></h6>
                    <p class="card-text" th:text="${task.description}"></p>
                    <p th:if="${task.done} == true"><strong>Выполнено</strong></p>
                    <p th:if="${task.done} == false"><strong>В работе</strong></p>
                </div>
                <div class="card-footer text-muted">
                    <ul class="list-inline">
                        <li class="list-inline-item" th:each="category: ${task.categories}"><h6 class="card-title" th:text="${category.name}"></h6></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="row">
                    <div class="col-4"><a class="btn btn-info w-100" th:href="@{/tasks/done/{taskId}(taskId=${task.id})}">Выполнено</a></div>
                    <div class="col-4"><a class="btn btn-info w-100" th:href="@{/tasks/edit/{taskId}(taskId=${task.id})}">Редактировать</a></div>
                    <div class="col-4"><a class="btn btn-danger w-100" th:href="@{/tasks/delete/{taskId}(taskId=${task.id})}">Удалить</a></div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>