<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary text-white">
    <div class="container">
      <a class="navbar-brand" href="/">Todo</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav me-auto">
          <a class="nav-item nav-link" th:href="@{/}">Все</a>
          <a class="nav-item nav-link" th:href="@{/completed}">Выполненные</a>
          <a class="nav-item nav-link" th:href="@{/new}">Новые</a>
        </div>
      </div>
    </div>
  </nav>
</div>